body {
}

.modal{
    font-family: 'PT Sans', sans-serif;
}

.logo{
  width: 100% ;
}

.biglogo img{
  height: 180px;
  width: auto;
  padding: 20px;
}

.introduce{
  margin-top: 70px;
}

.FirstTitle{
    padding-top: 133px;
 }

.EditPic{
  padding-left: 55px;
}

.modal-content .row{
  margin-left: 0;
  margin-right: 0;
}

#box1 {
  min-height: 320px;
  margin: 80px;
  /*background-image: url('src/alien-logi.png');*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

#sec1{
  /*width: 100%;*/
  min-height: 680px;
  height: auto;
  margin: 32px
  padding-left:99px;
  padding-top: 0px;
}

#sec1 p{
  padding-left: 11px  ;
  font-size: 32px;
}

#sec1 img{
  padding-right: 60px;
}

#sec2{
  /*width: 100%;*/
  min-height: 150px;
  height: auto;
  background-color: black;
  color:#ecf0f1;
}

#sec2 img{
  height: 432px;
}

#sec2 p{
  padding-top: 120px;
  font-size: 32px;
}

#sec .crusher{
  height: 600px;
}

#sec3{
  /*width: 100%;*/
  min-height: 150px;
  height: 570px;
  background-repeat:no-repeat;
}
#sec4{
  /*width: 100%;*/
  min-height: 150px;
  height: auto;
  background-color: black;
}
#box1 img{
  position: absolute;
  top: 80px;
  transform: translate(-50%, 5%);
  z-index: 0;
}

#box1 span{
  z-index: 2;
  position: absolute;
  transform: translate(100%, 500%);
}

.banner{
  background-image: url('src/Shadowwarrior.jpg');
  height: 100%auto;
}

.col-table{
  height: 30;
}
.text-Title{
  text-align: center;
}
.text-Title p{
  font-size: 72px;
}
.imageleftpadding{
  padding: 55px
}
.textrightpadding{
  color:#ecf0f1;
}
